@import url('https://fonts.googleapis.com/css2?family=Text+Me+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Text Me One', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #0c3866;
}

.clockBody{
    width: 620px;
    padding: 30px 50px;
    background-color: #1b252a;
    border: 3px solid #027780;
    border-radius: 15px;
    position: relative;
}

.clockBody::after{
    content: "";
    position: absolute;
    bottom: -15px;
    left: 50%;
    width: 70%;
    height: 15px;
    background-color: #0277bd;
    transform: translate(-50%, 0);
    border-radius: 3px 3px 8px 8px;
}

.clockBody::before{
    content: "";
    position: absolute;
    width: 110%;
    height: 10px;
    background-color: #00000077;
    bottom: -25px;
    left: -5%;
    border-radius: 100%;
    filter: blur(5px);
}

.weekDays{
    display: flex;
    width: 100%;
    justify-content: space-between;
    text-transform: uppercase;
    color: #646c72;
    cursor: default;
}

.weekDays span{
    font-family: 'Digital-7 Mono', sans-serif !important;
    font-size: 30px;
    letter-spacing: 1.2px;
}

.weekDays .active{
    color: aliceblue;
    position: relative;
}

.weekDays .active::after{
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: aliceblue;
}

.numbers,
.timeHolder{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    width: 100%;
    padding: 15px 0 5px;
    padding-top: 5px;
}

.timeOptions{
    display: flex;
    flex-direction: column;
    color: aliceblue;
}

.timeOptions i{
    padding: 10px 3px;
    position: relative;
    cursor: pointer;
}

.timeOptions i::after{
    content: attr(data-title);
    display: block;
    position: absolute;
    top: -45%;
    left: 50%;
    transform: translate(-50%, -50%) scale3d(.2, .2, .1);
    background: #fff;
    color: #646464;
    font-size: 12px;
    padding: 3px 11px;
    white-space: nowrap;
    line-height: initial;
    border-radius: 100px;
    z-index: 20;
    transition: all .35s ease-in-out;
    opacity: 0;
    pointer-events: none;
}

.timeOptions i:hover::after{
    opacity: 1;
    transform: translate(-50%, -50%) scale3d(1,1,1);
}


.H1, .H2, .M1, .M2, .S1, .S2{
    position: relative;
    width: 60px;
    height: 95px;
    margin: 0 7px;
}

.d1, .d2, .d3, .d4, .d5, .d6, .d7{
    width: 8px;
    height: 40px;
    background-color: azure;
    position: absolute;
}

.d1::after, .d2::after, .d3::after, .d4::after, .d5::after, .d6::after, .d7::after{
    content: "";
    position: absolute;
    background-color: azure;
    width: 7px;
    height: 7px;
    top: -7px;
    left: 0;
    clip-path: polygon(0 0, 0% 100%, 100% 100%);
}


.d1::before, .d2::before, .d3::before, .d4::before, .d5::before, .d6::before, .d7::before{
    content: "";
    position: absolute;
    background-color: azure;
    width: 7px;
    height: 7px;
    bottom: -7px;
    left: 0;
    clip-path: polygon(0 0, 100% 0, 0 100%);
}

.d7{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(90deg);
}

.d7::before{
    clip-path: polygon(0 0, 100% 0, 50% 100%);
}

.d7::after{
    clip-path: polygon(0 100%, 100% 100%, 50% 0);
}

.numbers span{
    font-size: 100px;
    color: aliceblue;
}


.countDown{
    display: none;
}

.countDown input{
    height: 100px;
    font-size: 100px;
    max-width: 400px;
    font-family: 'Orbitron',sans-serif;
    background-color: #1b252a;
    border: none;
    outline: none;
    padding: 5px 20px;
    color: azure;
    letter-spacing: 5px;
    position: relative;
}

.countDown input::-webkit-input-placeholder{/* Chrome/Opera/Safari */
    font-size: 30px;
}
.countDown input::-moz-placeholder{/* Firefox 19+ */
    font-size: 30px;
}
.countDown input::-ms-input-placeholder{/* IE 10+ */
    font-size: 30px;
}
.countDown input::-moz-placeholder{/* Firefox 18- */
    font-size: 30px;
}

.countDown input:focus{
    border: 1px solid #fff;
}

.countDwn .countDown{
    display: block;
}
.countDwn .countDown.DisNone{
    display: none;
}



.TimeFormat{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 110px;
}

.Formats span{
    color: aliceblue;
    font-size: 2em;
    cursor: default;
    display: none;
}

.Formats .active{
    display: block;
}

.Type{
    display: flex;
    flex-direction: column;
    color: #98afaf;
}

.Type span{
    position: relative;
    margin: 2px 0;
    cursor: pointer;
}

.Type span::before{
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 0;
    height: 1px;
    background-color: #98afaf;
    transition: all .4s ease;
}

.Type span:hover::before{
    width: 100%;
}

.Type .active{
    color: aquamarine;
}

.Type .active::after{
    content: '\f053';
    font-weight: 900;
    font-family: "Font Awesome 5 Free";
    position: absolute;
    top: 50%;
    right: -20px;
    transform: translate(-50%, -50%);
}

.Type .active::before{
    width: 100%;
}


.StopWatch .Type, .StopWatch .Formats, .countDwn .Type, .countDwn .Formats{
    display: none;
}

.StopWatch .control, .countDwn .control{
    display: block;
}

.control{
    color: #F0FFFF;
    position: relative;
    margin-left: 10px;
    display: none;
}

.control span{
    position: relative;
    cursor: pointer;
    text-align: center;
    margin-bottom: 20px;
    display: none;
}

.control span.active{
    display: block;
}

.control .pause{
    display: none;
}

.control span i{
    margin-bottom: 5px;
}
/* show0 */
show0 .d1{
    top: 0;
    left: 0;
}

show0 .d2{
    animation: animate1 .35s ease 1 forwards;
}

show0 .d3{
    top: 0;
    right: 0;
    transform: rotate(180deg);
}

show0 .d4{
    bottom: 0;
    right: 0;
    transform: rotate(180deg);
}

show0 .d5{
    top: -22px;
    left: 7px;
    transform: rotate(90deg) translate(-50%, -50%);
}

show0 .d6{
    bottom: -22px;
    left: 7px;
    transform: rotate(-90deg)translate(-50%, 50%);
}

show0 .d7{
    opacity: 0;
    transition: opacity .35s ease;
} 


/* Show1 */
show1 .d1{
    animation: animate2 .35s ease 1 forwards;
}

show1 .d2{
    animation: animate3 .35s ease 1 forwards;
}

show1 .d3{
    top: 0;
    left: calc(100% - 7px);
    transform: rotate(180deg);
}

show1 .d4{
    bottom: 0;
    left: calc(100% - 7px);
    transform: rotate(180deg);
}

show1 .d5{
    animation: animate4 .35s ease 1 forwards;
}

show1 .d6{
    animation: animate5 .35s ease 1 forwards;
}

show1 .d7{
    opacity: 0;
}



/* Show2 */
show2 .d1{
    top: 0;
    left: calc(100% - 7px);
    transform: rotate(180deg);
}

show2 .d2{
    animation: animmate6 .35s ease 1 forwards;
}

show2 .d3{
    top: 0;
    left: calc(100% - 7px);
    transform: rotate(180deg);
}

show2 .d4{
    animation: animate7 .35s ease 1 forwards;
}

show2 .d5{
    animation: animate8 .35s ease 1 forwards;
}

show2 .d6{
    animation: animate7 .35s ease 1 forwards;
}

show2 .d7{
    opacity: 1;
    transition: opacity .35s ease;
} 


/* Show3 */
show3 .d1{
    top: 0;
    left: calc(100% - 7px);
    transform: rotate(180deg);
}
show3 .d2{
    animation: animate9 .35s ease 1 forwards;
}
show3 .d3{
    top: 0;
    right: -1px;
    transform: rotate(180deg);
}
show3 .d4{
    animation: animate10 .35s ease 1 forwards;
}

show3 .d5{
    top: -22px;
    left: 7px;
    transform: rotate(90deg) translate(-50%,-50%);
}
show3 .d6{
    animation: animate10 .35s ease 1 forwards;
}

show3 .d7{
    opacity: 1;
    transition: opacity .35s ease;
}


/* Show4 */
show4 .d1{
    animation: animate11 .35s ease 1 forwards;
}
show4 .d2{
    top: 0;
    right: 0;
    transform: rotate(180deg);
}
show4 .d3{
    top: 0;
    right: 0;
    transform: rotate(180deg);
}
show4 .d4{
    bottom: 0;
    right: 0;
    transform: rotate(180deg);
}
show4 .d5{
    animation: animate11 .35s ease 1 forwards;
}

show4 .d6{
    animation: animate12 .35s ease 1 forwards;
}

show4 .d7{
    opacity: 1;
    transition: opacity .35s ease;
} 

/* Show5 */
show5 .d1{
    top: 0;
    left: 0;
}

show5 .d2{
    bottom: 0;
    right: 0;
    transform: rotate(180deg);
}

show5 .d3{
    animation: animate13 .35s ease 1 forwards;
}

show5 .d4{
    bottom: 0;
    right: 0;
    transform: rotate(180deg);
}

show5 .d5{
    animation: animate13 .35s ease 1 forwards;
}

show5 .d6{
    animation: animate14 .35s ease 1 forwards;
}

show5 .d7{
    opacity: 1;
    transition: opacity .35s ease;
} 


/* Show6 */
show6 .d1{
    top: 0;
    left: 0;
}

show6 .d2{
    animation: animate15 .35s ease 1 forwards;
}

show6 .d3{
    bottom: 0;
    right: 0;
    transform: rotate(180deg);
}

show6 .d4{
    bottom: 0;
    right: 0;
    transform: rotate(180deg);
}

show6 .d5{
    top: -22px;
    left: 7px;
    transform: rotate(90deg) translate(-50%,-50%);
}

show6 .d6{
    bottom: -22px;
    left: 7px;
    transform: rotate(-90deg) translate(-50%,50%);
}

show6 .d7{
    opacity: 1;
    transition: opacity .35s ease;
} 

/* Show7 */
show7 .d1{
    animation: animate16 .35s ease 1 forwards;
}
show7 .d2{
    animation: animate17 .35s ease 1 forwards;
}
show7 .d3{
    animation: animate18 .35s ease 1 forwards;
}
show7 .d4{
    bottom: 0;
    right: 0;
    transform: rotate(180deg);
}
show7 .d5{
    top: -22px;
    left: 7px;
    transform: rotate(90deg) translate(-50%,-50%);
}

show7 .d6{
    animation: animate19 .35s ease 1 forwards;
}

show7 .d7{
    opacity: 0;
    transition: opacity .35s ease;
} 


/* Show8 */
show8 .d1{
    animation: animate20 .35s ease 1 forwards;
}
show8 .d2{
    animation: animate21 .35s ease 1 forwards;
}
show8 .d3{
    top: 0;
    right: 0;
    transform: rotate(180deg);
}
show8 .d4{
    bottom: 0;
    right: 0;
    transform: rotate(180deg);
}
show8 .d5{
    top: -22px;
    left: 7px;
    transform: rotate(90deg) translate(-50%,-50%);
}

show8 .d6{
    animation: animate22 .35s ease 1 forwards;
}

show8 .d7{
    opacity: 1;
    transition: opacity .35s ease;
} 


/* Show9 */
show9 .d1{
    top: 0;
    left: 0;
}
show9 .d2{
    animation: animate23 .35s ease 1 forwards;
}
show9 .d3{
    top: 0;
    right: 0;
    transform: rotate(180deg);
}
show9 .d4{
    bottom: 0;
    right: 0;
    transform: rotate(180deg);
}
show9 .d5{
    top: -22px;
    left: 7px;
    transform: rotate(90deg) translate(-50%,-50%);
}

show9 .d6{
    bottom: -22px;
    left: 7px;
    transform: rotate(-90deg) translate(-50%,50%);
}

show9 .d7{
    opacity: 1;
    transition: opacity .35s ease;
} 












@keyframes animate1 {
    from{
        bottom: -22px;
        left: 7px;
        transform: rotate(-90deg) translate(-50%, 50%);
    }

    to{
        bottom: 0;
        left: 0;
    }
}

@keyframes animate2{
    from{
        top: 0;
        left: 0;
    }
    to{
        top: 0;
        left: calc(100% - 7px);
        transform: rotate(180deg);
    }
}

@keyframes animate3{
    from{
        bottom: 0;
        left: 0;
    }
    to{
        bottom: 0;
        left: calc(100% - 7px);
        transform: rotate(180deg);
    }
}

@keyframes animate4{
    from{
        top: -22px;
        left: 7px;
        transform: rotate(90deg) translate(-50%, -50%);
    }

    to{
        top: 0;
        left: calc(100% - 7px);
        transform: rotate(180deg);
    }
}

@keyframes animate5{
    from{
        bottom: -22px;
        left: 7px;
        transform: rotate(-90deg) translate(-50%, 50%);
    }

    to{
        bottom: 0;
        left: calc(100% - 7px);
        transform: rotate(180deg) translate(0,0);
    }
}

@keyframes animate6{
    from{
        bottom: 0;
        left: calc(100% - 7px);
        transform: rotate(180deg);
    }

    to{
        bottom: 0;
        left: 0;
    }
}

@keyframes animate7{
    from{
        bottom: 0;
        left: calc(100% - 7px);
        transform: rotate(180deg) translate(0,0);
    }

    to{
        bottom: -22px;
        left: 7px;
        transform: rotate(-90deg) translate(-50%,50%);
    }
}

@keyframes animate8{
    from{
        top: 0;
        left: calc(100% - 7px);
        transform: rotate(180deg) translate(0,0);
    }

    to{
        top: -22px;
        left: 7px;
        transform: rotate(90deg) translate(-50%,-50%);
    }
}

@keyframes animate9{
    from{
        bottom: 0;
        left: 0;
    }
    to{
        bottom: -22px;
        left: 7px;
        transform: rotate(-90deg) translate(-50%,50%);
    }
}

@keyframes animate10{
    from{
        bottom: -22px;
        left: 7px;
        transform: rotate(-90deg) translate(-50%,50%);
    }

    to{
        bottom: 0;
        right: 0;
        transform: rotate(180deg) translate(0,0);
    }
}

@keyframes animate11{
    from{
        top: -22px;
        left: 7px;
        transform: rotate(90deg) translate(-50%, -50%);
    }
    to{
        top: 0;
        left: 0;
    }
}

@keyframes animate12{
    from{
        bottom: -22px;
        left: 7px;
        transform: rotate(-90deg) translate(-50%,50%);
    }
    to{
        bottom: 0;
        right: 0;
        transform: rotate(180deg) translate(0,0);
    }
}

@keyframes animate13{
    from{
        top: 0;
        right: 0;
        transform: rotate(180deg) translate(0,0);
    }

    to{
        top: -22px;
        left: 7px;
        transform: rotate(90deg) translate(-50%, -50%);
    }
}

@keyframes animate14{
    from{
        bottom: 0;
        right: 0;
        transform: rotate(180deg) translate(0,0);
    }

    to{
        bottom: -22px;
        left: 7px;
        transform: rotate(-90deg) translate(-50%,50%);
    }
}

@keyframes animate15{

    from{
        bottom: -22px;
        left: 7px;
        transform: rotate(-90deg) translate(-50%, 50%);
    }
    to{
        bottom: 0;
        left: 0;
    }
}

@keyframes animate16{
    from{
        top: 0;
        left: 0;
    }
    to{
        top: 0;
        right: 0;
        transform: rotate(180deg);
    }
}

@keyframes animate17{
    from{
        bottom: 0;
        left: 0;
    }
    to{
        bottom: 0;
        right: 0;
        transform: rotate(180deg);
    }
}

@keyframes animate18{
    from{
        top: -22px;
        left: 7px;
        transform: rotate(90deg) translate(-50%, -50%);
    }
    to{
        top: 0;
        right: 0;
        transform: rotate(180deg);
    }
}

@keyframes animate19{
    from{
        bottom: -22px;
        left: 7px;
        transform: rotate(-90deg) translate(-50%, 50%);
    }
    to{
        top: 0;
        right: 0;
        transform: rotate(180deg);
    }
}

@keyframes animate20{
    from{
        top: -22px;
        left: 7px;
        transform: rotate(90deg) translate(-50%, -50%);
    }
    to{
        top: 0;
        left: 0;
    }
}

@keyframes animate21{
    from{
        bottom: 0;
        left: 0;
        transform: rotate(180deg);
    }
    to{
        bottom: 0;
        left: 0;
    }
}

@keyframes animate22{
    from{
        bottom: 0;
        right: 0;
        transform: rotate(180deg);
    }
    to{
        bottom: -22px;
        left: 7px;
        transform: rotate(-90deg) translate(-50%,50%);
    }
}

@keyframes animate23{
    from{
        bottom: 0;
        left: 0;
    }
    to{
        bottom: -22px;
        left: 7px;
        transform: rotate(-90deg) translate(-50%,50%);
    }
}

/* Background Color Animation */
.BgAnimation{
    animation: colors .35s infinite alternate;
}

@keyframes colors{
    0%{
        background-color: #0c3b66;
    }

    100%{
        background-color: red;
    }
}